<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<h1>Lab Dashboard</h1>

Temp: <span id="temp"></span> °C<br>
RH: <span id="rh"></span> %<br>

<div id="relays"></div>

<canvas id="chart"></canvas>

<script>
async function update(){
    let r=await fetch("/api/status")
    let d=await r.json()

    document.getElementById("temp").innerText=d.temp
    document.getElementById("rh").innerText=d.rh

    let html=""
    for(let k in d.relays){
        let rel=d.relays[k]
        html+=`<div>
        ${k} | ${rel.state} | last: ${rel.last_on} | next in: ${rel.next_in}s
        <button onclick="test('${k}')">Test</button>
        </div>`
    }
    document.getElementById("relays").innerHTML=html
}

async function test(name){
    await fetch("/api/test/"+name,{method:"POST"})
}

setInterval(update,2000)
update()
</script>

</body>
</html>
